:root{
    --color-primery:#50e4c1;
    --color-primery-dark: #38a088;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
}
.back_image{
    background-image:url("./meating.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;

}
.container{
    max-width:130rem;
    margin:0 auto;
    
}
.hero_section{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5.6rem 0;
}
.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2.5rem 6rem;
}
.logo{
    margin-bottom:5rem;

}
img{
    height:12rem;
    width:auto;
    border-radius:50%;
}
.hero_text{
    display:flex;
    flex-direction:column;

}
h1{
    font-size: 4rem;
    text-align: center;
    font-weight:400;
    color:#fff;
    width:80rem;
    text-transform: capitalize;
    margin-bottom:7.5rem;
}
p{
    font-size:2rem;
    text-align: center;
    color:#fff;
    margin-bottom:2.5rem;
}
.btn{
    background-color:var(--color-primery);
    border:none;
    width:37rem;
    padding:2.5rem 6rem;
    font-size:2rem;
    text-transform: capitalize;
     letter-spacing: 1px; 
     border-radius: 7px;
    
}
.btn:hover{
    cursor: pointer;
    background-color:black;
    color:#fff;
}

/* section page 2 */
.featured_in{
    background-color:#000;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:500px; */

}
.featured_img_box{
    padding:2.4rem 0;

}
.featured_img_box img:not(:last-child){
    margin-right:3rem;
}
/* my page */
.next-page{
     background-color:#0b0b0b; 
    height:65rem;
    flex-direction: column;
    }
    .next-page h1{
        font-size:5rem;
        text-align: center;
        margin-left:28rem;
         /* margin-top:30rem;  */
         position: relative;
    }
    .content-box{
        display:flex;
        justify-content: space-around ;
         align-items: center; 
        color:#fff;
        font-size:1.5rem;
        margin-top:17rem;
    }
    .content-box .box1{
           border:3px solid white; 
           background-color: gray;
           width:110rem fit-content;
           border-radius: 15px;
           margin-left:3px;
           padding:5px;
           
    }
    content-box .box1{
        border:3px solid white; 
        background-color: gray;
        width:110rem fit-content;
        border-radius: 15px;
        margin-left:3px;
        padding:5px;
        
 }
 .content-box .box2{
    border:3px solid white; 
    background-color: gray;
    width:110rem fit-content;
    border-radius: 15px;
    margin-left:3px;
    padding:5px;
    
}
 .content-box .box3{
    border:3px solid white; 
    background-color: gray;
    width:110rem fit-content;
    border-radius: 15px;
    margin-left:3px;
    padding:5px;
    
}
.content-box .box4{
    border:3px solid white; 
    background-color: gray;
    width:110rem fit-content;
    border-radius: 15px;
    margin-left:3px;
    padding:5px;
    
}
.free{
    color:black;
    margin-left:49rem;
    margin-top:12rem;
    font-size: 3rem;
    border-radius: 9px;
    background-color:var(--color-primery);
    cursor: pointer;
    padding:5px;
    width:37rem;

}
.free:hover{
    background-color:black;
    color:#fff;
}
/* feedback page */
.feedback{
    background-color: #0b0b0b;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:90rem;
}
.feedback h1{
    font-size:5rem;
    font-weight: lighter;
    margin-left:25rem;
    letter-spacing: 1rem;
}
.feed-content p{
    margin-top:10rem;
    margin-left:6px;
    margin-right:10rem;
    word-spacing: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feed-content span{
    font-size:2rem;
    margin-left:3rem;

}
/* team section */
 .team{
    background-color:rgb(52, 43, 43);
    color:black;
    height:60rem;
    font-family: 'Times New Roman', Times, serif;
    }
    .team .our-team{
        font-size:7rem;
        margin-left:19rem;
        padding:2rem;
        color:#ccc;
    }
    .team p {
        font-size: 2.5rem;
        margin:4rem 2rem;
        padding:8px;
        color:#ccc;
        margin-bottom:2rem;
    }
    .team span{
        font-size:2.5rem;
        margin-left:13rem;
        
         
    }
    .img-team{
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        margin-top:5rem;
    }
   /* footer */
   footer{
    background-color:rgb(5, 53, 72);
    color:white;
    font-family:'Times New Roman', Times, serif;
    
   }
   .footer{
       display: flex;
       justify-content: space-evenly;
       align-items:center;
       padding:3rem 4rem;
   }
   .left-paragraph p{
    font-size:3rem;
   }
   .left-paragraph span{
    font-size:1.5rem;
   }
   .right-paragraph p{
    font-size:3rem;
   }
   .right-paragraph span{
    font-size:1.5rem;
   }
   .mid-paragraph p{
    font-size:3rem;
   }
   .mid-paragraph span{
    font-size:1.5rem;
   }
   .footer-img img{
    margin-left:58rem;
   }


